@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap');

html,body,#app {
  height:100%;
  width: 100%;
}

.main-body {
  height: 80%;
  width:100%;
  display: flex;
  flex-direction: column;
  gap:20px;

  margin-bottom: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

/*Header*/
.about-header h1 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.about-header p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(119, 119, 119);
  font-size: 24px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/*Image*/
.profile-pic {
  float:right;
  margin:25px;
  margin-right: 70px;
  width:200px;
  object-fit: cover;
}

/*Bio container*/
.about-section {
  font-family: Arial, Helvetica, sans-serif;
} 

/*Bio information*/
.title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.info {
  font-size: 20px;
  color: rgb(17, 17, 17);
  line-height: 30px;
}

/*Bio body links*/
.main-body a:-webkit-any-link {
  color: #1890ff;
  text-decoration: none;
}

.main-body a:-webkit-any-link:hover {
  color: #1d457a;
  text-decoration: underline;
}
