@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

/*Container for projects*/
.studio {
  height: 80%;
  width:100%;
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-bottom: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

/*Studio container*/
.studio-section {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 70px;
} 

/*Studio title*/
.title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 20px;
}

/*Studio info*/
.info {
  font-size: 20px;
  color: rgb(17, 17, 17);
  line-height: 30px;
}

.portfolio-project-link {
  position: relative;
  text-align: center;
  color: white;
}

.portfolio-project-link img {
  width: 100%;
  height:100%;
  object-fit: cover;
  transition: filter .5s;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height:100%;
  width:100%;
  font-family: 'Noto Sans JP', sans-serif;

  /*By default, we want text to not be shown*/
  opacity: 0%;

  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap:10px;
}

.overlay .title {
  font-size: 35px;
  margin: 0 0 0 0;
}

.overlay .subtitle {
  font-size: 26px;
  margin: 0 0 0 0;
}

/*Hover over project image*/
a.portfolio-project-link:-webkit-any-link {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}


a.portfolio-project-link:-webkit-any-link:hover {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}

a.portfolio-project-link:-webkit-any-link:hover .portfolio-image {
  filter:brightness(50%);
}

.portfolio-project-link .overlay:hover {
  opacity: 100%;
}


/*Studio links*/
.studio a:-webkit-any-link {
  color: #1890ff;
  text-decoration: none;
}

.studio a:-webkit-any-link:hover {
  color: #1d457a;
  text-decoration: underline;
}

/*Control the time element*/
time {
  float:right;
  color:#999;
  text-transform: uppercase;
  text-decoration: none;
}

/*Controls the project links*/
.project-link {
  display: block;
  width: 100%;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-bottom: 1px solid transparent;  
  margin-bottom: 5px;
}

.project-link:hover {
  border-bottom:1px solid black;
}

/*Special case for project links, do not underline on hover*/
.project-info a:-webkit-any-link:hover {
  color: #1d457a;
  text-decoration: none;
}

/* Fix sup links to not change line height */
.project sup {
  vertical-align: top;
  position: relative; 
  top: -0.5em;
}

